<mat-toolbar class="navbar" color="primary">
    <div>Passagens Online</div>
    <div>
        <span>Inicio</span>
        <span>Atendimento</span>
        <span>Serviços</span>
    </div>
</mat-toolbar>
<section class="banner">
    <div class="sectionContainer">
        <h2>Compre sua passagem</h2>
        <input class="cidade" type="text" placeholder="Digite aqui sua origem"><br>
        <input class="cidade" type="text" placeholder="Digite aqui seu destino"><br>
        <label for="opcao">Escolha uma opcao:</label>
        <select name="opcao" id="opcao">
        <option value="somenteida">Somente Ida</option>
        <option value="idaevolta">Ida e Volta</option>
        </select><br>
        <div class="datas">
            <label for="dia">Data de Ida:</label>
            <input type="date" id="diaa" name="dia">
            <label for="diaa">Data de Volta:</label>
            <input type="date" id="diaa" name="diaa">
        </div><br>
        <button type="button" class="botao">Buscar Passagens</button>
    </div>
    <img src="assets/img/to-travel.jpg" alt="to-travel" class="bannerImg">
</section><br>
<section class="main">
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/bh.webp" alt="BH">
        <mat-card-content>
            <p>
              Belo Horizonte-MG
            </p>
          </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/curitiba.webp" alt="Curitiba">
        <mat-card-content>
            <p>
              Curitiba-PR
            </p>
          </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/campinas.webp" alt="Campinas">
        <mat-card-content>
            <p>
              Campinas-SP
            </p>
          </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/img/riodejaneiro.webp" alt="Rio de Janeiro">
        <mat-card-content>
            <p>
              Rio de Janeiro-RJ
            </p>
          </mat-card-content>
    </mat-card>
</section>
<section class="informacoes">
    <img src="assets/img/banner-assento.svg" alt="melhorassento" class="banners">
    <img src="assets/img/banner-compra-segura.svg" alt="comprasegura" class="banners">
    <img src="assets/img/banner-parcele.svg" alt="parcele" class="banners">
</section>
<footer class="rodape">
    <div class="copy">&copy;Passagens Online 2022</div>
    <div class="socialmedia">
        <img src="assets/img/facebook.svg" alt="facebook" class="icons">
        <img src="assets/img/youtube.svg" alt="youtube" class="icons">
        <img src="assets/img/twitter.svg" alt="twitter" class="icons">
        <img src="assets/img/instagram.svg" alt="instagram" class="icons">
    </div>
</footer>

